.App {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border: 2px solid grey;
  background-color: grey;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: red;
}

.remaining {
  height: 30px;
  width: 100%;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  background-color: green;
  
}

ul {
  width: 100%;
}

.item {
  margin-left: -20px;
  border: 2px solid white;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.checkbox {
  margin-right: 30px;
}



.done {
  text-decoration: line-through;
  
}